[package]
name = "hls_m3u8"
version = "0.1.3"
authors = ["Takeru Ohta <phjgt308@gmail.com>"]
description = "HLS m3u8 parser/generator"
homepage = "https://github.com/sile/hls_m3u8"
repository = "https://github.com/sile/hls_m3u8"
readme = "README.md"
license = "MIT"
keywords = ["hls", "m3u8"]
edition = "2018"

[badges]
travis-ci = {repository = "sile/hls_m3u8"}
codecov = {repository = "sile/hls_m3u8"}

[dependencies]
trackable = "0.2"

[dev-dependencies]
clap = "2"